name: quiz
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  auto_route: ^11.1.0
  bloc: ^9.2.0
  dartz: ^0.10.1
  dio: ^5.9.0
  envied: ^1.3.2
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  provider: ^6.1.5+1
  rxdart: ^0.28.0
  shared_preferences: ^2.5.4
  talker: ^5.1.9
  talker_bloc_logger: ^5.1.12
  talker_dio_logger: ^5.1.12
  talker_flutter: ^5.1.9
  url_strategy: ^0.3.0
  yx_scope: ^1.2.0
  yx_scope_flutter: ^1.2.0
  ### основной сервис с интерфейсами
  i_app_services:
    path: ./app_services/i_app_services
  ### реализация сервисов ###
  ### В зависимости от платформы ###
  app_services:
    path: app_services/base/app_services ### Базовая реализация ###
    # path: app_services/aurora/app_services ### Аврора реализация ###
    # path: app_services/hms/app_services ### HarmonyOS реализация ###

dev_dependencies:
  auto_route_generator: ^10.4.0
  build_runner: ^2.10.4
  envied_generator: ^1.3.2
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.2.4
  json_serializable: ^6.11.4

flutter:
  uses-material-design: true
