name: quiz
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  auto_route: ^11.1.0
  bloc: ^9.2.0
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  provider: ^6.1.5+1
  rxdart: ^0.28.0
  shared_preferences: ^2.5.4
  talker: ^5.1.9
  talker_flutter: ^5.1.9
  url_strategy: ^0.3.0
  yx_scope: ^1.2.0
  yx_scope_flutter: ^1.2.0

dev_dependencies:
  auto_route_generator: ^10.4.0
  build_runner: ^2.10.4
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.2.4
  json_serializable: ^6.11.4

flutter:
  uses-material-design: true
