name: quiz
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  app_services:
    path: app_services/base/app_services
  auto_route: ^11.1.0
  bloc: ^9.2.0
  dartz: ^0.10.1
  dio: ^5.9.0
  envied: ^1.3.2
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localization: ^0.3.3
  flutter_spinkit: ^5.2.2
  flutter_svg: ^2.2.3
  freezed_annotation: ^3.1.0
  google_fonts: ^8.0.0
  i_app_services:
    path: ./app_services/i_app_services
  intl: ^0.20.2
  json_annotation: ^4.9.0
  local_auth: ^3.0.0
  lottie: ^3.3.2
  provider: ^6.1.5+1
  rxdart: ^0.28.0
  shared_preferences: ^2.5.4
  talker: ^5.1.9
  talker_bloc_logger: ^5.1.12
  talker_dio_logger: ^5.1.12
  talker_flutter: ^5.1.9
  theme_tailor_annotation: ^3.1.2
  url_strategy: ^0.3.0
  vector_graphics: ^1.1.19
  yx_scope: ^1.2.0
  yx_scope_flutter: ^1.2.0

dev_dependencies:
  auto_route_generator: ^10.4.0
  build_runner: ^2.10.4
  envied_generator: ^1.3.2
  flutter_flavorizr: ^2.4.1
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.2.4
  json_serializable: ^6.11.4
  very_good_analysis: 10.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/launcher_icon/
flutter_gen:
  integrations:
    flutter_svg: true
    lottie: true
