name: xela
publish_to: none
environment:
  sdk: ^3.8.0
dev_dependencies:
  melos: ^7.4.0
workspace:
  - apps/app/
  - app_services/aurora/app_services/
  - app_services/base/app_services/
  - app_services/hms/app_services/
  - app_services/i_app_services/
  - modules/auth/
  - shared/core/
  - shared/dependencies/
  - shared/ui_kit/

melos:
  command:
    bootstrap:
      environment:
        sdk: ">=3.10.4 <4.0.0"
        flutter: ">=3.38.5 <4.0.0"
      dev_dependencies:
        build_runner: 2.11.1
  scripts:
    build:
      run: melos exec -c 1 --depends-on build_runner -- dart run build_runner build
    build:select:
      run: melos exec -c 1 --depends-on build_runner -- dart run build_runner build
      packageFilters:
        dependsOn:
          - "build_runner"
    gen-env:
      run: melos exec -c 1 --depends-on build_runner -- dart run build_runner build
      packageFilters:
        dependsOn:
          - "envied_generator"
    gen-l10n:
      run: melos exec -c 1 --file-exists="l10n.yaml" -- flutter gen-l10n
    flutter-flavorizr:
      run: melos exec -c 1 --file-exists="flavorizr.yaml" -- flutter pub run flutter_flavorizr -f
    flutter-launcher-icons:
      run: melos exec -c 1 --file-exists="flutter_launcher_icons.yaml" -- dart run flutter_launcher_icons
    gen_icons_and_flavors:
      run: melos exec -c 1 --file-exists="gen_icons_and_flavor.dart" -- dart ./gen_icons_and_flavor.dart
